# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Git LFS attributes file (tracked separately)
.gitattributes
